body,
html {
  scroll-behavior: smooth !important;
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}

.housing-card {
  height: 200px !important;
  border-radius: 3px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-bottom: 8px !important;
}

.housing-detail-card {
  height: 120px !important;
  border-radius: 3px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-bottom: 8px !important;
}

.action-card {
  color: white !important;
  text-align: center !important;
  height: 300px !important;
  border-radius: 3px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex !important;
  align-items: flex-end !important;
}

.form-double {
  display: flex !important;
  justify-content: space-between !important;
}

/* STARTPAGE HERO CSS */
.hero-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/francesca-cioccio-773154-unsplash.jpg') !important;
    /* Set a specific height */
    height: calc(100vh - 45px) !important;
    /* Position and center the image to scale nicely on all screens */
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
}

.column.is-4.hero-form {
  text-align: left !important;
  background-color: hsl(0, 0%, 100%) !important;
  padding: 30px !important;
   
  border-radius: 5px !important; 
}

.about-area-card {
  height: 300px !important;
  border-radius: 3px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  margin-right: 8px !important;
}

.imageBox{
  height: 550px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/*/ ---------------------- /*/
/*/ ---------------------- /*/
/*/ ------BOOKINGBOX------ /*/
/*/ ---------------------- /*/
/*/ ---------------------- /*/
.booking-box{
  border: 1px solid lightgray !important;
  text-align: center !important;
  padding: 20px !important;
}

.traveldate-box{
  border: 1px solid lightgray !important;
  margin: 10px !important;
}

.icon-box{
  width: 10px !important;
}
.is-custom-icon{
  flex: none !important;
  width: 30px !important;
  text-align: center !important;
}

ul.no-list-style {
  margin-left: 0px !important;
}
.no-list-style li {
  list-style: none !important;
}
.card {
  border-radius: 3px !important;
  border: solid 0.5px hsl(0, 0%, 92%) !important;
}
.button-combo a{
  margin: 10px 5px 0px 0px !important;
}

/* Homepage three Step Card */
.step-card {
  color: white !important;
  height: 250px !important;
  border-radius: 3px !important;
  background-size: cover !important;  
  /* display: flex !important; */
  /* align-items: flex-end !important; */
}

/* REACT-DAY-PICKER */
.selectedWeek .DayPicker-Month {
  border-collapse: separate !important;
}
.selectedWeek .DayPicker-WeekNumber {
  outline: none !important;
}
.selectedWeek .DayPicker-Day {
  outline: none !important;
  border: 1.5px solid transparent !important;
}
.selectedWeek .DayPicker-Day--hoverRange {
  background-color: #EFEFEF !important;
  /* border-radius: 100px !important; */
  /* border: 1.5px #EFEFEF !important; */
}
.selectedWeek .DayPicker-Day--selectedRange {
  background-color: hsl(0, 0%, 96%) !important;
  font-weight: 600 !important;
  color: hsl(0, 0%, 21%) !important;
}
/*
.selectedWeek .DayPicker-Day--selectedRangeStart {
  background-color: #FFEB3B !important;
}
.selectedWeek .DayPicker-Day--selectedRangeEnd {
  background-color: #FFEB3B !important;
}
*/

.selectedWeek .DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.selectedWeek .DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
  /* border-radius: 0 !important; */
  color: hsl(0, 0%, 21%) !important;
}
.selectedWeek .DayPicker-Day--hoverRange:hover {
  /* border-radius: 0 !important; */
}

/* If its full and you're not it. */
.selectedWeek .DayPicker-Day--booked {
  background-color: hsl(0, 0%, 100%) !important;
  border-radius: 0;
  color: hsl(0, 0%, 86%);
  text-decoration: line-through;
}

/* If someone has shown interest */
.selectedWeek .DayPicker-Day--interests {
  background-color: hsl(0, 0%, 96%) !important;
  border-radius: 50px;
  color: hsl(0, 0%, 71%);
}

/* If its your booking, and its not full */
.selectedWeek .DayPicker-Day--myDays {
  border: 1.5px solid hsl(171, 100%, 41%) !important;
  border-radius: 100px;
  color: hsl(0, 0%, 71%);
  text-decoration: none;
}

/* If its your booking, and its full */
.selectedWeek .DayPicker-Day--myDays.DayPicker-Day--booked {
  background-color: hsl(171, 100%, 41%) !important;
  color: white !important;
}

/* If you select fullybooked week */
.selectedWeek .DayPicker-Day--selectedRange.DayPicker-Day--booked {
  font-weight: 50 !important; 
  /* background-color: hsl(0, 0%, 100%) !important; */
  /* border-radius: 0 !important; */
  color: hsl(0, 0%, 86%) !important; 
  /* text-decoration: line-through; */
}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 550px !important;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px !important;
}


.react-photo-gallery--gallery img {
  max-height: 100% !important;
  width: 49% !important;
  object-fit: cover !important;
  height: 150px !important;
}

.profileBox{
  width: 100% !important;
  height: 100% !important;
  object-fit: conver !important;
}

.heroBgImage{
  height: 300px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.heroing {
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 300px !important; 
}

.DayPickerInput input{
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    font-size: 1rem !important;
    height: 2.25em !important;
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important;
    line-height: 1.5 !important;
    padding-bottom: calc(0.375em - 1px) !important;
    padding-left: calc(0.625em - 1px) !important;
    padding-right: calc(0.625em - 1px) !important;
    padding-top: calc(0.375em - 1px) !important;
    position: relative !important;
    vertical-align: top !important;

    background-color: white !important;
    border-color: #dbdbdb !important;
    color: #363636 !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1) !important;
    max-width: 100% !important;
    width: 100% !important;
}