body,
html {
  scroll-behavior: smooth;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.housing-card {
  height: 200px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.housing-detail-card {
  height: 120px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.action-card {
  color: white;
  text-align: center;
  height: 300px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.form-double {
  display: flex;
  justify-content: space-between;
}

/* STARTPAGE HERO CSS */
.hero-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/francesca-cioccio-773154-unsplash.jpg');
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-form {
  text-align: left;
  background-color: hsl(0, 0%, 100%);
  padding: 30px; 
  border-radius: 5px; 
}

.about-area-card {
  height: 300px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.imageBox{
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/*/ ---------------------- /*/
/*/ ---------------------- /*/
/*/ ------BOOKINGBOX------ /*/
/*/ ---------------------- /*/
/*/ ---------------------- /*/
.booking-box{
  border: 1px solid lightgray;
  text-align: center;
  padding: 20px;
}

.traveldate-box{
  border: 1px solid lightgray;
  margin: 10px;
}

.icon-box{
  width: 10px;
}
.is-custom-icon{
  flex: none;
  width: 30px;
  text-align: center;
}

ul.no-list-style {
  margin-left: 0px;
}
.no-list-style li {
  list-style: none;
}
.card {
  border-radius: 3px;
  border: solid 0.5px hsl(0, 0%, 92%);
}
.button-combo a{
  margin: 10px 5px 0px 0px;
}

/* Homepage three Step Card */
.step-card {
  color: white;
  height: 250px;
  border-radius: 3px;
  background-size: cover;  
  /* display: flex; */
  /* align-items: flex-end; */
}

/* REACT-DAY-PICKER */
.selectedWeek .DayPicker-Month {
  border-collapse: separate;
}
.selectedWeek .DayPicker-WeekNumber {
  outline: none;
}
.selectedWeek .DayPicker-Day {
  outline: none;
  border: 1px solid transparent;
}
.selectedWeek .DayPicker-Day--hoverRange {
  background-color: #EFEFEF !important;
}
.selectedWeek .DayPicker-Day--selectedRange {
  background-color: hsl(0, 0%, 96%) !important;
  font-weight: 600;
  color: hsl(0, 0%, 21%);
}
/*
.selectedWeek .DayPicker-Day--selectedRangeStart {
  background-color: #FFEB3B !important;
}
.selectedWeek .DayPicker-Day--selectedRangeEnd {
  background-color: #FFEB3B !important;
}
*/

.selectedWeek .DayPicker-Day--selectedRange:not(.DayPicker-Day--outside).DayPicker-Day--selected,
.selectedWeek .DayPicker-Day--hoverRange:not(.DayPicker-Day--outside).DayPicker-Day--selected {
  /* border-radius: 0 !important; */
  color: hsl(0, 0%, 21%) !important;
}
.selectedWeek .DayPicker-Day--hoverRange:hover {
  /* border-radius: 0 !important; */
}

/* If its full and you're not it. */
.selectedWeek .DayPicker-Day--booked {
  background-color: hsl(0, 0%, 100%) !important;
  border-radius: 0;
  color: hsl(0, 0%, 86%);
  text-decoration: line-through;
}

/* If someone has shown interest */
.selectedWeek .DayPicker-Day--interests {
  background-color: hsl(0, 0%, 96%) !important;
  border-radius: 50px;
  color: hsl(0, 0%, 71%);
}

/* If its your booking, and its not full */
.selectedWeek .DayPicker-Day--myDays {
  border: 1.5px solid hsl(171, 100%, 41%) !important;
  border-radius: 100px;
  color: hsl(0, 0%, 71%);
  text-decoration: none;
}

/* If its your booking, and its full */
.selectedWeek .DayPicker-Day--myDays.DayPicker-Day--booked {
  background-color: hsl(171, 100%, 41%) !important;
  color: white !important;
}

/* If you select fullybooked week */
.selectedWeek .DayPicker-Day--selectedRange.DayPicker-Day--booked {
  font-weight: 50 !important; 
  /* background-color: hsl(0, 0%, 100%) !important; */
  /* border-radius: 0 !important; */
  color: hsl(0, 0%, 86%) !important; 
  /* text-decoration: line-through; */
}


.react-photo-gallery--gallery img {
  max-height: 100%;
  width: 49%;
  object-fit: cover;
  height: 150px;
}

.profileBox{
  width: 100%;
  height: 100%;
  object-fit: conver;
}