body,
html {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.housing-card {
  height: 200px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.action-card {
  color: white;
  text-align: center;
  height: 300px;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.form-double {
  display: flex;
  justify-content: space-between;
}

/* STARTPAGE HERO CSS */
.hero-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/francesca-cioccio-773154-unsplash.jpg');
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-form {
  text-align: left;
  background-color: hsl(0, 0%, 100%);
  padding: 30px; 
  border-radius: 5px; 
}


/* ROBIN CSS */
.imageBox{
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.booking-box{
  border: 1px solid lightgray;
  text-align: center;
  padding: 20px;
}
.booking-box .price{
  font-weight: bold;
}

.traveldate-box{
  border: 1px solid lightgray;
  margin: 10px;
}

.icon-box{
  width: 10px;
}
.is-custom-icon{
  flex:none;
  width: 30px;
  text-align: center;
}

/* Homepage three Step Card */
.step-card {
  color: white;
  height: 250px;
  border-radius: 3px;
  background-size: cover;  
  /* display: flex; */
  /* align-items: flex-end; */
}
